* {
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
    transition: all 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);

}

html {
  height: 100%;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  body {
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      padding: 20px;
      margin-top: 20px;
      text-align: center;
      .textRep {
          margin: 40px 0 40px 0;
      }
      .textTitre {
          margin-top: 20px;
          font-weight: bold;
      }
      button {
        margin-top: 20px;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0.7rem 2rem;
        width: 50%;
        font-weight: 700;
        font-size: 0.7em;
        text-align: center;
        text-decoration: none;
        background: none;
        color: rgb(0, 0, 0);
        backface-visibility: hidden;
        border: 0.3rem solid transparent;
        border-radius: 3rem;
        border-color: rgb(0, 0, 0);
        &:hover {
          transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
        }
      }
    }
  }
}